/* يمنع السكرول فقط لما نضيف class على body */
.no-scroll {
  overflow: hidden !important;
  height: 100vh !important;
}


/* =============== NAVBAR =============== */
.tools-navbar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;

  width: 100%;
  height: 75px;

  background: white;
  border-bottom: 1px solid #dfe5e4;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;

  z-index: 4000;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #08312d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.back-icon {
  color: white;
  font-size: 20px;
}

.tools-logo {
  height: 60px;
  object-fit: contain;
}

/* PROFILE */
.profile-icon-t {
  font-size: 28px;
  cursor: pointer;
  color: #08312d;
}

.dropdown-menu-t {
  position: absolute;
  right: 0;
  top: 80px;
  background: white;
  width: 160px;
  padding: 10px 0;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.18);
}

.dropdown-menu-t p {
  padding: 10px 14px;
  cursor: pointer;
}

.dropdown-menu-t p:hover {
  background: #eef2f1;
}

.study-container {
  position: absolute;
  top: 53%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 620px; 
  padding: 0 22px;   
  text-align: center;
}

.study-title {
  font-size: 34px;
  font-weight: 800;
  color: #063b35;
  margin-bottom: 20px;
}

.study-form {
  background: white;
  padding: 36px 28px; 
  border-radius: 22px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.12);
  text-align: left;
  width: 100%; 
}

.study-form label {
  display: block;
  font-weight: 600;
  color: #063b35;
  margin-bottom: 6px;
}

.study-form input,
.study-form textarea {
  width: 95%;  
  padding: 14px;
  font-size: 15px;

  background: #eef2f1;
  border: 2px solid #0f3d3e;
  border-radius: 12px;

  margin-bottom: 20px; 
  outline: none;
}

.study-form textarea {
  min-height: 110px;
}



.study-btn {
  width: 100%; 
  padding: 15px;
  border-radius: 12px;
  border: none;
  background: #063b35;
  color: white;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

.study-btn:hover {
  background: #042f2a;
}

