html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  font-family: "Inter", sans-serif;
  background: #eef4f4;
}


.profile-box-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px; 
}


.profile-card {
  width: 450px; 
  background: #fff;
  border-radius: 26px;
  padding: 40px 40px 40px; 
  box-shadow: 0 16px 40px rgba(0,0,0,0.13);
  position: relative;
}




.profile-card form {
  display: flex;
  flex-direction: column;
  align-items: center;   
  gap: 10px;
  width: 100%;
}



.avatar-circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #063b35;
  color: white;
  font-size: 42px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -55px; 
  left: 50%;
  transform: translateX(-50%);
}


.edit-inside {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
}

.edit-btn-card {
  padding: 8px 18px;
 
  color: #063b35;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cancel-edit-btn-card {
  padding: 8px 16px;

  color:  #063b35;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}


.profile-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #063b35;
  margin-bottom: 18px;
}



.label {
  font-size: 14px;
  font-weight: 600;
  color: #063b35;
  margin-bottom: 4px;
}


.input-modern {
  width: 90%;
  padding: 14px;
  font-size: 15px;
  border-radius: 12px;
  border: 2px solid #d4e2df;
  margin-bottom: 16px;
  background: #f4faf9;
}

.input-modern:disabled {
  opacity: 0.7;
}


.save-btn {
  width: 98%;
  padding: 14px;
  background:#063b35;
  border: none;
  border-radius: 12px;
  color: #d4e2df;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}

.save-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



.popup {
  position: fixed;
  bottom: 45px;
  background: #063b35;
  color: white;
  padding: 12px 22px;
  border-radius: 10px;
  font-size: 15px;
  left: 50%;
  transform: translateX(-50%);
}
