.required {
  color: red;
  font-weight: bold;
  margin-left: 3px;
}

.signup-container {
  width: 100%;
  height: 100vh;
  background-color: #f5f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.signup-box {
  width: 400px;
  height: 775px;
  background: #ffffff;
  border-radius: 22px;
  padding: 55px 55px;
  text-align: center;
  color: #063b35;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
}
.signup-logo {
  width: 120px;
  margin-bottom: 1px;
}

.signup-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

.input-group {
  width: 100%;
  margin: 0 auto 20px auto;
  text-align: left;
}

.input-label {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #063b35;
  margin-bottom: 6px;
}

.input-field {
  width: 100%;
  padding: 14px 16px;
  border-radius: 10px;
  border: 2px solid #0f3d3e;
  background: #f1f4f3;
  color: #063b35;
  font-size: 15px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.input-field:focus {
  border-color: #0b2f2a;
  background: #ffffff;
  outline: none;
}

.signup-btn {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  background: #063b35;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s;
}

.signup-btn:hover {
  background: #042f2a;
  transform: translateY(-3px);
}

.login-text {
  margin-top: 18px;
  font-size: 15px;
  color: #063b35;
}

.login-text a {
  font-weight: bold;
  color: #063b35;
  text-decoration: underline;
  transition: 0.25s;
}

.login-text a:hover {
  opacity: 0.7;
}
